<!DOCTYPE html>
<html lang="es" ng-app="miApp">

<head>
    <meta charset="UTF-8">
    <title>Prueba</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>

<body>
    <div class="contenedor" ng-controller="controlador1">
        <div class="seccion">
            <h3>Hola!</h3>
            <p>Mi nombre es: {{nombre}}</p>
            <input type="text" name="texto" value="" ng-model="nombre">
        </div>

        <div class="seccion">
            <h3>Prueba de directivas personalizadas</h3>
            <input type="text" placeholder="Introduce tu nombre" ng-model="minombre">
            <div tu-nombre></div>
        </div>

        <div class="seccion">
            <h3>Datos remotos</h3>

            <p>Lista desde JSON</p>
            <ul>
                <li ng-repeat="item in listaProductos">{{item.nombre}}</li>
            </ul>

            <p>Datos de JSON online</p>
            <ul>
                <li>{{datos[0].cty}}</li>
                <li>{{datos[0].hse}}</li>
                <li>{{datos[0].nm}}</li>
                <li>{{datos[0].yrs}}</li>
            </ul>
        </div>

        <div class="seccion">
            <h3>Datos desde Firebase</h3>
            <input type="text" ng-model="fireNombre">
            <button ng-click="agregarNombre()">Agregar</button>
            <button ng-click="eliminarNombre()">Eliminar</button>
            <div ng-repeat="item in listaNombres"></div>
        </div>
    </div>
</body>

</html>